@import "tailwindcss";

@theme {
  --color-beige: #F5F1EB;
  --color-soft-beige: #EDE6DB;
  --color-soft-black: #1C1C1C;
  --font-sans: 'Inter', 'Poppins', sans-serif;
}

html,
body {
  background-color: var(--color-beige);
  color: var(--color-soft-black);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}